.edit-btn {
    width: 3rem;
    height: 3rem;
    border-width: 1px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
    margin: 0 5px
}

.regular-btn {
    width: 2.2rem;
    height: 2.2rem;
    border: 1px solid #ff9b38;
    box-shadow: 0px 4px 0px 0px #ff9900;
    text-shadow: 0px 1px 0px #ff9d00;
    background: linear-gradient(#ffb700, #ff7b00);
}

.remove-btn {
    border: 1px solid #d02718;
    box-shadow: 0px 4px 0px 0px #8a2a21;
    text-shadow: 0px 1px 0px #810e05;
    background: linear-gradient(#c62d1f, #ff5e52);
}

.change-line-btn {
    border: 1px solid #1869d0;
    box-shadow: 0px 4px 0px 0px #214f8a;
    text-shadow: 0px 1px 0px #054881;
    background: linear-gradient(#1f88c6, #57c1ff);
}

.add-btn {
    border: 1px solid #18d02a;
    box-shadow: 0px 4px 0px 0px #218a36;
    text-shadow: 0px 1px 0px #058127;
    background: linear-gradient(#19a820, #2dec50);
}

.regular-btn:hover {
    background: linear-gradient(#ff7b00, #ffb700);
}

.remove-btn:hover {
    background: linear-gradient(#ff5e52, #c62d1f);
}

.add-btn:hover {
    background: linear-gradient(#2dec50, #19a820);
}

.change-line-btn:hover {
    background: linear-gradient(#37adf2, #1f88c6)
}

.export-btn {
    width: 5rem;
}