@import "button.css";
@import "css/helpers.css";
@import "css/body-style/header.css";
@import "css/body-style/search.css";
@import "css/body-style/gallery.css";
@import "css/body-style/editor.css";
@import "css/body-style/about.css";
@import "css/body-style/footer.css";
@import "css/body-style/modals.css";

:root {
    /* pallete */
    --clr0: #292929;
    --clr1: #fb9623;
    --clr2: #fe6e20;
    --clr3: #ffe49f;
    --clr4: #fe6e20;
    --clr5: #e1e0e0;
    --clr6: #c2c2c2;
    ---clr7: #818181;
    ---clr8: #f8f8f8;
    ---clr9: #a6a6a6;
}

* {
    box-sizing: border-box;
    font-size: 12px;
    scroll-behavior: smooth;
}

@font-face {
    font-family: fa;
    src: url("/fonts/fa-brands-400.ttf");
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}



.main-layout>*:not(.full) {
    max-width: 90%;
    margin: 0 auto;
}

@media (min-width:920px) {
    * {
        font-size: 16px;
    }
}
