.main-header {
    background-color: var(--clr1);
    box-shadow: inset 0 -7px 0 var(--clr3);
}

.logo {
    width: 200px;
    margin-inline-start: 20px;
}


.main-header .main-nav li:not(:last-child) {
    margin-inline-end: 0px;
    border-collapse: collapse;
    border-radius: 50px;
}

.link-nav {
    color: rgb(0, 0, 0);
    text-decoration: none;
    height: 100px;
    width: 100px;
    justify-content: center;
    text-transform: capitalize;
    /* border: 1px black solid; */
    background-color: var(--clr1);    box-shadow: inset 0 -7px 0 var(--clr3);
    transition: .3s;
}

.link-nav:hover {
    box-shadow: inset 0 -7px 0 var(--clr3)
}



/* Mobile Only */
@media (max-width:740px) {
    .main-content {
        border-collapse: collapse;
        padding-top: 50px;
    }

    .main-header {
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    .main-header .main-nav ul {
        position: fixed;
        left: 0;
        top: 52px;
        width: 100%;
        flex-direction: column;
        max-height: 0;
        transition: max-height 1s;
        justify-content: flex-end;
        overflow: hidden;
    }

    .main-header .main-nav ul a {
        width: 100%;
        height: 100px;
    }

    .link-nav {
        box-shadow: inset 0 0px 0 var(--clr6);
    }

    .menu-toggle-btn {
        background-color: inherit;
        border: none;
        padding: 10px;
        font-size: 2rem;
        color: black;
        cursor: pointer;
        transition: color .4s;
    }

    body.menu-open .menu-toggle-btn {
        color: white;
    }

    body.menu-open .main-nav ul {
        max-height: 100vh;
    }

    body.menu-open .main-screen {
        opacity: 1;
        pointer-events: auto;
    }
}

@media (min-width:740px) {
    .menu-toggle-btn {
        display: none;
    }

    .link-nav:hover {
        box-shadow: inset 0 -7px 0 #ff6200
    }
}